.comp-label {
	/*background-color: #d86f6f;*/
	/*border-radius: 50%;*/
	background-image: url(tower2.png);
	background-size: contain;
	heigth: 20px;
	width: 20px;
}
.work-label {
	background-color: #d86f6f;
	opacity: 0.7;
	width: 6px !important;
	height: 6px !important;
	border-radius: 50%;
	margin: -3px 0 0 -3px !important;
}
.home-label {
	background-color: #3993DD;// #FFA69E;//#5993f5;
	opacity: 0.6;
}
/*.liveHouse--1,
var colorScale = ['#ff00c8','#c000ff', '#1b00ff', '#0043ff', '#0095ff'];
*/
.grade_2 {
	background-color: #ff00ff;
	opacity: 1;
}
.grade_1 {
	background-color: #ff00ff;
	opacity: 0.8;
}
/*.grade_0 {*/
	/*background-color: #4b02ff;*/
/*}*/
.grade_-1 {
	background-color: #5993f5;
	opacity: 0.8;
}
.grade_-2 {
	background-color: #5993f5;
}
#filterpanel{
	width: 200px;
	padding: 10px;
	background: rgba(255,255,255,0.6);
	position: absolute;
	right: 0;
	top: 30px;
}