body {
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
}
select {
	height: 20px;
	width: 100%;
}
.filtered_map_wrapper{
	/*max-width: 950px;*/
	/*margin: 0 30px;*/
	position: relative;
}
.comp-label {
	/*background-color: #d86f6f;*/
	/*border-radius: 50%;*/
	background-image: url(tower2.png);
	background-size: contain;
	heigth: 20px;
	width: 20px;
}
.work-label {
	 background-color: #8934d8;
	 opacity: 0.7;
	 width: 9px !important;
	 height: 9px !important;
	 border-radius: 50%;
	 margin: -3px 0 0 -3px !important;
 }
.legend-label {
	opacity: 0.7;
	width: 9px;
	height: 9px;
	border-radius: 20%;
	display: inline-block;
	margin: 0 5px;
}
.home-label {
	background-color: #3993DD;// #FFA69E;//#5993f5;
	width: 9px !important;
	height: 9px !important;
	border-radius: 20%;
	opacity: 0.7;
}
.home-tooltip{
	line-height: 0.5;
	font-size: 0.8em;
}
/*.liveHouse--1,
var colorScale = ['#ff00c8','#c000ff', '#1b00ff', '#0043ff', '#0095ff'];
*/
.grade_2 {
	background-color: #0ba23c;
	border: 1px solid darkgreen;
	opacity: 1;
}
.grade_1 {
	background-color: #0ba23c;
	border: 1px solid darkgreen;
	opacity: 0.7;
}
.workgrade_2, .workgrade_1 {
	background-color: #0ba23c;
	border: 1px solid darkgreen
}
.workgrade_-2, .workgrade_-1 {
	background-color: #b7174c;
	border: 1px solid #7d1339
}
/*.grade_0 {*/
	/*background-color: #4b02ff;*/
/*}*/
.grade_-1 {
	background-color: #b7174c;
	border: 1px solid #7d1339;
	opacity: 0.7;
}
.grade_-2 {
	background-color: #b7174c;
	border: 1px solid #7d1339
}
#filterpanel{
	font-size: 0.8em;
	width: 160px;
	height: 330px;
	padding: 10px;
	background: rgba(255,255,255,0.85);
	position: absolute;
	z-index: 9000;
	right: 0px;
	top: 40px;
}
#map.filtered {
	border: 2px solid grey;
	width: 100%;
	height: 1000px;
	/*max-height: 600px;*/

}
.clearfilters_btn{
	margin: 5px auto;
	display: block;
	width: 95%
}
.clearfilters_btn:focus {
	outline: none;
}
.clearfilters_btn:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
@media screen and (max-width: 600px) {
	#filterpanel{
		position: relative;
		top: 0;
		width: 400px;
		margin: 0 auto;
	}
}
.inline {
	display: inline-block;
}